<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_text %><br />
    <%= f.text_area :question_text, rows: 5, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :question_type %><br />
    <%= f.select :question_type, Question::QUESTION_TYPES, prompt: 'Select the type of question' %>
  </div>
  <div class="field">
  	<%= f.label "Correct Answer:" %><br />
    <%= f.radio_button :correct_answer, 1, :checked => true %>
    <%= f.label "A" %>
    <%= f.radio_button :correct_answer, 2 %>
    <%= f.label "B" %>
    <%= f.radio_button :correct_answer, 3 %>
    <%= f.label "C" %>
    <%= f.radio_button :correct_answer, 4 %>
    <%= f.label "D" %>
  <br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
