<p id="notice"><%= notice %></p>

<p>
<strong>Question <%= @question.id %> :</strong>
  <%= @question.question_text %>
</p>

<% if @question.question_type == 'multiple choice' %>
	<p>
		A. <%= @question.answer_a %><br />
		B. <%= @question.answer_b %><br />
		C. <%= @question.answer_c %><br />
		D. <%= @question.answer_d %><br />
	</p>
	<%= render :partial => 'responses/form' %>
<% else %>
	<%= render :partial => 'responses/short_answer_form' %>
<% end %>

  

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back to List', questions_path %> |
<% if @nextquestion %>
  <%= link_to 'Next Question', Question.find(@nextquestion.id) %>
<% end %>
