<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Choose your response:" %>
    <%= f.radio_button :answer, 1, :checked => true %>
    <%= f.label "A" %>
    <%= f.radio_button :answer, 2 %>
    <%= f.label "B" %>
    <%= f.radio_button :answer, 3 %>
    <%= f.label "C" %>
    <%= f.radio_button :answer, 4 %>
    <%= f.label "D" %>
    <%= f.hidden_field :question_id, :value => @question.id %>
  <br />
  </div>
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
  
<% end %>

