<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @response.question.question_text %>
</p>

<p>
  <b>Chosen Answer:</b>
  <%= @response.answer %>
</p>

<p>
  <b>Answered by:</b>
  <%= @response.user.name %>
</p>



<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %> |
<%= link_to 'Show Results', :controller => "responses", :action => "list" %>| 
<%= link_to 'Back to Questions', root_url %>
